li a {
    text-decoration:none;
    color:black;
    font-family:'calibri';
    font-weight: bold;
}

#nav {
    background-color:darkviolet ;
    list-style-type: none;
    border-radius: 4px;
    position: sticky;
    text-align: right;
}

#nav li, .ukryj li {
    padding:15px;
    display:inline-block;
    font-size:25px;
    text-align:right;
}